In [17]:
# Exercise Q1. Create a list of 5 random numbers and print the list.
list1=[10,100,45,23,78]
print("The elements in the list are ",list1)
print(type(list1))

The elements in the list are  [10, 100, 45, 23, 78]
<class 'list'>

In [19]:
#  Q2. Insert 3 new values to the list and print the updated list.
list1.extend([10,15,20])
print("The updated list is ",list1)

The updated list is  [10, 100, 45, 23, 78, 10, 15, 20]

In [29]:
#Q3. Try to use a for loop to print each element in the list.
for i in list1 :
    print(i)

10
100
45
23
78
10
15
20

In [35]:
# Topic: Dictionary Exercise Q1. Create a dictionary 
#with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.
person={
   ' name': 'John',
    'age' : 25,
    'address':'New York'
}
print(person)

{' name': 'John', 'age': 25, 'address': 'New York'}

In [77]:
#  Q2. Add a new key-value pair to the 
# dictionary created in Q1 with key 'phone' and value '1234567890'. 
person['phone']=1234567890

print(person)

{' name': 'John', 'age': 25, 'address': 'New York', 'phone': 1234567890}

In [99]:
#Topic: Set Exercise Q1.Create a set with values 1, 2, 3, 4, and 5.
set1={1,2,3,4,5}
print("The set elements are ",set1)

The set elements are  {1, 2, 3, 4, 5}

In [101]:
# Q2. Add the value 6 to the set created in Q1
set1.add(6)
print("the updated set is ",set1)

the updated set is  {1, 2, 3, 4, 5, 6}

In [103]:
# Q3. Remove the value 3 from the set created in Q1. 
set1.remove(3)
print("the set elements after deleting number 3 is ",set1)

the set elements after deleting number 3 is  {1, 2, 4, 5, 6}

In [93]:
# Topic:Tuple Exercise Q1. Create a tuple with values 1, 2, 3, and 4 
tuple1=(1,2,3,4,)
print(tuple1)

(1, 2, 3, 4)

In [95]:
#Q2. Print the length of the tuple created in Q1.
print(len(tuple1))

4